/*******
 BASIS
 MOBILE
 DESKTOP
*********/

:root {
  --Dark-Blue-Dark-Mode-Elements: hsl(209, 23%, 22%);
  --Very-Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);
  --Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
  --Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
  --Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
  --White-Dark-Mode: hsl(0, 0%, 100%);
}

/* ----------------  BASIS  ----------------*/

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  width: 100vw;
  background-color: rgba(209, 208, 208, 0.1);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  box-shadow: 0px 10px 5px -5px rgba(0, 0, 0, 0.1);
  width: 100vw;
}

.header-title h1 {
  margin-left: 50px;
  font-size: 20px;
}

.dark-mode {
  display: flex;
  flex-direction: row;
  display: flex;
  align-items: center;
}

.dark-mode i {
  font-size: 20px;
  padding: 0 10px;
}

.content-wrapper {
  padding-top: 50px;
}

.search-balk {
  width: 360px;
  height: 60px;
}

input {
  height: 30px;
}

.filter {
  display: flex;
  flex-direction: column;
}

.region {
  display: flex;
  flex-direction: column;
  padding-inline: 10px;
  background-color: white;
  margin-top: 10px;
  padding-inline: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 200px;
  font-weight: 600;
  border-radius: 5px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.region-open {
  padding-inline: 10px;
  max-height: 1000px;
  transition: max-height 0.3s ease-in-out;
  cursor: pointer;
}

.region a {
  padding: 5px;
}

button {
  height: 60px;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

a > i {
  padding-right: 10px;
}

button i {
  margin-left: 60px;
}

#countries-container {
  margin-top: 40px;
}

.countries-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  place-items: center;
  gap: 60px;
}

.card {
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 5px;
  padding-bottom: 10px;
  width: 240px;
}

.img {
  height: 140px;
  width: 238px;
  border-radius: 5px 5px 0 0;
}

/* ----------------  MOBILE  ----------------*/

@media only screen and (max-width: 600px) {
  body {
    height: auto;
    width: 100vw;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .dark-mode {
    font-size: 10px;
    padding: 0 10px;
    margin-right: 20px;
  }

  .dark-modes {
    background-color: #222;
    color: #fff;
  }

  .dark-mode i {
    font-size: 16px;
    padding: 0 10px;
  }

  .search {
    display: flex;
    flex-direction: column;
  }

  .search-balk {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    width: 200px;
    margin-top: 20px;
    background-color: white;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .button {
    margin-left: 20px;
  }

  .search-balk {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 40px;
    width: 40px;
  }

  input {
    width: 320px;
    border: none;
  }

  input::placeholder {
    text-align: left;
    padding: 10px;
  }

  .countries-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    place-items: center;
    gap: 60px;
  }
}

@media only screen and (min-width: 601px) {
  body {
    height: auto;
    width: 100vw;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .dark-mode {
    font-size: 10px;
    padding: 0 10px;
    margin-right: 20px;
  }

  .dark-mode i {
    font-size: 16px;
    padding: 0 10px;
  }

  .search {
    display: flex;
    flex-direction: column;
  }

  .search-balk {
    width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    width: 200px;
    margin-top: 20px;
    background-color: white;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .button {
    margin-left: 40px;
  }

  .search-balk {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 40px;
    width: 40px;
  }

  input {
    width: 320px;
    border: none;
  }

  input::placeholder {
    text-align: left;
    padding: 10px;
  }

  .countries-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    place-items: center;
    gap: 60px;
  }
}

@media only screen and (min-width: 920px) and (max-width: 1440px) {
  .search {
    display: flex;
    flex-direction: row;
    width: 840px;
    justify-content: space-between;
  }

  .search-balk {
    width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search button {
    width: 200px;
    margin-top: 0px;
    align-self: flex-end;
  }

  .countries-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    place-items: center;
    gap: 60px;
  }
}

/* ----------------  DESKTOP  ----------------*/
@media only screen and (min-width: 1441px) {
  body {
    height: auto;
    width: 100vw;
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .dark-mode {
    font-size: 10px;
    padding: 0 10px;
    margin-right: 20px;
  }

  .dark-mode i {
    font-size: 16px;
    padding: 0 10px;
  }

  .search {
    display: flex;
    flex-direction: row;
    width: 1150px;
    justify-content: space-between;
  }

  button {
    width: 200px;
    margin-top: 0px;
    background-color: white;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-self: flex-end;
  }

  .search-balk {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 40px;
    width: 40px;
  }

  input {
    width: 320px;
    border: none;
  }

  input::placeholder {
    text-align: left;
    padding: 10px;
  }

  .countries-grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    place-items: center;
    gap: 60px;
  }
}
